<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Be Connected To The World</div>
                    <div class="card-body">
                        <tweet-form></tweet-form>
                    </div>
                    <hr>
                    <!-- TIME-LINE FEEDS -->
                    <div class="card-body">
                        <tweet v-for="tweet in tweets" :key="tweet.id" :tweet="tweet"></tweet>
                        <p class="text-center text-dark" v-if="! tweets.length"> There aren't new Tweets.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import Tweet from './Tweet.vue';
    import TweetForm from './TweetForm.vue';
    import eventHub from '../event.js'
    import moment from 'moment'

    export default {
        data() {
            return {
                tweets: [],
                x : 0
            };
        },
        components: {
            Tweet, TweetForm
        },
        methods: {
            // APPEND NEW TWEET TO TOP ARRAY
            appendTweetToArr(tweet) {
                // PREPEND OUR POSTS ARRAY TO PUT LATEST TWEET IN THE TOP
                this.tweets.unshift(tweet);
            },
            // Tweet Liked Or Disliked
            tweetLiked(tweetId, status, changeCurrentUserLiked) {
                // FILTER ALL POSTS VIA ID PROPERTY
                let tweet = this.tweets.find(obj => {
                    return obj.id === tweetId
                });

                // IF CURRENT USER LIKE THIS TWEET OTHERWISE REMOVED HIS LIKE AGAIN
                if (status === 200) {
                    tweet.likeCount++;
                    if (changeCurrentUserLiked) {
                        tweet.likedByCurrentUser = true;
                    }
                } else if (status === 201) {
                    tweet.likeCount--;
                    if (changeCurrentUserLiked) {
                        tweet.likedByCurrentUser = false;
                    }
                }

            },
            updateCreationTweetsTime() {
                this.tweets.map(function (tweet) {
                    tweet.created_at = moment.utc(tweet.timeCreation).fromNow()
                }.bind(this));
            }
        }
        ,
        mounted() {

            // LISTEN TO CHANNELS VIA EVENT HUB
            eventHub.$on('tweet-added', this.appendTweetToArr);
            eventHub.$on('tweet-liked', this.tweetLiked);

            // LISTEN TO PUSHER VIA LARAVEL ECHO
            window.Echo.private('TweetsChannel').listen('TweetWasCreatedEvent', (e) => {
                // Emit Event Tweet Was Created To Broadcast To Other Users.
                eventHub.$emit('tweet-added', e.tweet);
            });

            window.Echo.private('TweetsLikedChannel').listen('TweetWasLikedEvent', (e) => {
                // Emit Event Tweet Was Created To Broadcast To Other Users.
                eventHub.$emit('tweet-liked', e.tweet.id, e.status, false)
            });

            /*
            * GET ALL POSTS VIA HTTP REQUEST
            * TODO :: WE WILL IMPROVE BELOW HTTP REQUEST CALL USING [ A x i o s ].
            * */
            this.$http.get("/tweets").then(response => {
                this.tweets = response.body;
            });

            // Update Creation Time
            this.$nextTick(function () {
                window.setInterval(() => {
                    this.updateCreationTweetsTime();
                },5000);
            })
        }
    }

</script>
