<template>
    <div class="container">
        <div class="timeline-item" v-bind:date-is="tweet.created_at">
            <img v-bind:src="tweet.user.avatar" class="img-rounded" v-bind:alt="tweet.user.name">
            <p class="text-info">{{tweet.user.name}}</p>

            <h1>{{ tweet.body }}</h1>
            <tweet-control :tweet="tweet"></tweet-control>
        </div>
        <hr class="separate-post">
    </div>
</template>

<style>
    @import url("https://fonts.googleapis.com/css?family=Oswald|Roboto:400,700");

    body {
        font-size: 14px;
        line-height: 1.5;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Oswald", sans-serif;
    }

    h1 {
        font-size: 1rem;
        margin-bottom: 0.5em;
    }

    p {
        font-family: "Roboto", sans-serif;
        font-size: 0.8rem;
    }

    .container {
        max-width: 1024px;
        width: 90%;
        margin: 0 auto;
    }

    .timeline-item {
        padding: 3em 2em 2em;
        position: relative;
        color: rgba(0, 0, 0, 0.7);
        border-left: 2px solid rgba(0, 0, 0, 0.3);
    }

    .timeline-item p {
        font-size: 1rem;
    }

    .timeline-item::before {
        content: attr(date-is);
        position: absolute;
        left: 2em;
        font-weight: bold;
        top: 1em;
        display: block;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 0.785rem;
    }

    .timeline-item::after {
        width: 10px;
        height: 10px;
        display: block;
        top: 1em;
        position: absolute;
        left: -7px;
        border-radius: 10px;
        content: "";
        border: 2px solid rgba(0, 0, 0, 0.3);
        background: white;
    }

    .timeline-item:last-child {
        -o-border-image: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0.3) 60%,
                rgba(0, 0, 0, 0)
        ) 1 100%;
        border-image: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0.3) 60%,
                rgba(0, 0, 0, 0)
        ) 1 100%;
    }

    img {
        margin-bottom: 5px;
    }

    .separate-post {
        color: #f2f5ff;
    }

</style>

<script>

    import TweetControl from './TweetControl.vue'

    export default {
        props: [
            'tweet'
        ],
        components: {
            TweetControl
        }
    };
</script>

 