<template>
    <form action="#" v-on:submit.prevent="AddNewTweet">
        <div class="form-group">
            <textarea class="form-control rounded-0 green-border-focus" rows="5"
                      placeholder="What's Happening ?" v-model="body"></textarea>
        </div>
        <button type="submit" class="btn btn-outline-primary">Tweet</button>
    </form>
</template>

<script>
    import eventHub from '../event'

    export default {
        data() {
            return {
                body: null
            }
        },
        methods: {
            AddNewTweet() {
                axios({
                    method: 'post',
                    url: '/tweets',
                    data: {
                        body: this.body
                    }
                }).then((response) => {
                    eventHub.$emit('tweet-added', response.data);
                    this.body = null;
                });
            }
        }
    }

</script>